<%- include('./partials/header.ejs')%>
<%- include('./logoLogout.ejs') %>
<%- include('./navbar.ejs')%>

<div class="col-md-6 mx-auto ">
  <div style="box-shadow: 1px 1px 5px rgb(26, 26, 116);" class="alert alert-info mx-auto text-center mt-3" role="alert">
    <h3>Select a Slot</h3>
  </div>   
    
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="text-danger">Slots</th>
          <th scope="col" class="text-danger">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        <% for (var i = 1; i <= 5; i++) { %>
          <tr>
            <td><%= i %></td>
            <td>Slot <%= i %> </td>
            <td class="text-success"><%= sensorValue ? 'Occupied' : 'Vacant' %></td>
            <td>
              <form method="get" action="/book-parking/">
                <button type="submit" class="btn btn-outline-info btn-sm px-4">Book</button>
              </form>
            </td>
          </tr>
        <% } %>
         
      </tbody>
    </table>
  </div>

<%- include('./partials/footer.ejs')%>